body {
  height:auto;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.welcomebox
{
height:100%;
border:1px solid black;
border:1px solid #abb4c2;
box-shadow: 1px 1px 2px rgba(0,0,0,.3);
margin-top:100px;
}